*{
    padding: 0;
    margin: 0;
}

body{
    background-color: $color-background-body;
    font-family: 'Lato', sans-serif;
   }

header{
   background-color: $color-background-hf;
   width: 100vw;
   padding: 10px;
   position: fixed;
   top: 0;
   z-index: 1000;
}

/*Modificando nuevo var de BootStrap*/
.navbar-collapse{
    justify-content: center;
}
.navbar-nav{
    gap: 10px;
    text-align: center;
  
}
.nav-link{
    color: $color-fuente-hf;
    font-size: 20px;
    &:hover{
        color: black;
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
.navbar-toggler{
    background-color: #0014ff12;
}

/* No se usa, se aplicó BootStrap
nav{
    text-align: center;
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            &:hover{
                transform: scale(1.1);
                transition: all 0.5s;
            }
            a{
                text-decoration: none;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                color: $color-fuente-hf;
                padding: 15px;
                margin-left: 10px;
                margin-right: 10px;
                &:hover{
                    color: black;
                }
                
                @media(max-width:480px){
                    font-size: 16px;
                    padding: 3px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                @media(min-width:481px){
                    font-size: 18px;
                    padding: 3px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                @media(min-width:781px){
                    font-size: 20px;
                    padding: 15px;
                    margin-right: 10px;  
                }
            }
        }
    }
}
*/

.logo{
   width: 75px;
   height: 75px;
   transition: all 1s;
   &:hover{
    transform: rotate(360deg);
   }
   @media(max-width:480px){
    width: 50px;
    height: 50px;
   }
   @media(min-width:481px){
    width: 65px;
    height: 65px;  
   }
   @media(min-width:781px){
    width: 75px;
    height: 75px;
   }
}

/*inicio MAIN*/
main{
    min-height: calc(100vh - 185px);
    margin-top: 120px;
    @media(min-width:481px){
        min-height: calc(100vh - 180px);
        margin-top: 110px;  
    }
    @media(min-width:781px){
        min-height: calc(100vh - 205px);
        margin-top: 120px;
    }
 }

 /*Inicio FOOTER*/
footer{
    background-color: $color-background-hf;
    padding: 25px 0 25px 0;
    display: block;
    .textoFooter{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: $color-fuente-hf; 
        margin-left: 10px;   
     }
 }
 /*mapas -- Se colocó provisional para el desafío, luego se elimina*/
 $textos: (
    Footer: rgb(194, 248, 194),
    Contacto: rgb(243, 168, 168),
 );
 @each $text, $fontColor in $textos {
    .texto#{$text}{
        background-color: $fontColor;

    }
 }
 /*--------*/

 main{
    @media(max-width:480px){
        min-height: calc(100vh - 160px);
        margin-top: 90px; 
    }
 }

