$color-background-body: whitesmoke;
$color-background-hf: white; 
$color-fuente-hf: rgb(109, 106, 106);
$color-fuente-banner: white;
$color-fuente-texto: rgb(26, 25, 25);
$color-background-btn-index: rgba(214,178,158,1);
$color-fuente-btn-index: white;
$color-background-btn-index-hover: rgb(168, 182, 201);
$color-fuente-btn-index-hover:black;
$color-background-btn-box: linear-gradient(to right, rgba(99, 93, 190, 0.733), rgb(168, 182, 201));
$color-fuente-btn-box: black;
$color-background-btn-contacto: #a8b6c9;
$color-border-btn-contacto: #a8b6c9;
$color-background-btn-contacto-hover: #d6b29e;
$color-border-btn-contacto-hover: #d6b29e;
$color-fuente-btn-contacto-hover: white;

