/*Inicio HEADER*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
   }
header{
   background-color: white;
   width: 100vw;
   padding: 10px;
   position: fixed;
   top: 0;
   z-index: 1000;
}
nav{
   text-align: center;
}
ul{
   list-style-type: none;
}
li{
   display: inline-block;
}
a{
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: rgb(109, 106, 106);
   padding: 15px;
   margin-left: 10px;
   margin-right: 10px;
   
}
nav ul li:hover{
   transform: scale(1.1);
   transition: all 0.5s;
}
.logo{
   width: 75px;
   height: 75px;
   transition: all 1s;
}
.logo:hover{
   transform: rotate(360deg);
}
/*inicio MAIN*/
main{
   min-height: calc(100vh - 185px);
   margin-top: 120px;
}
/*Banner Principal / Hero */
.bannerPrincipal{
   background-image: url(../img/fotoBanner2.jpg);
   background-size:cover;
   background-position: center center;
}
.textoBanner{
   position: relative;
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   color: white;
}
/*Categorias página principal*/
.textoCategorias{
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   color: rgb(26, 25, 25);
   margin-top: 10px;
   margin-bottom: 10px;
}
.card{
   display: flex;
   flex-direction: column;
   text-align: center;
   border-radius: 15px;
   align-items: center;
   
}
.fotoCategorias{
   width: 300px;
   height: 300px;
   border-radius: 15px;
}
.button{
   border-radius: 15px;
   border: 0ch;
   font-family: 'Lato', sans-serif;
   padding: 4px;
   margin: 3px;
   width: auto;
   cursor: pointer;
   transition: all 0.5s;
   background: rgba(214,178,158,1);
   color: white;
}
.button:hover{
   transform: scale(1.1);
   background:rgb(168, 182, 201);
   color: black;
}
.textoTituloCategoria{
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   color: rgb(26, 25, 25);
}
.textoDescriptivo{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: rgb(26, 25, 25);
   margin-bottom: 5px;  
}
/*Sección Nosotros*/
.textoSubtitulos{
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   color: rgb(26, 25, 25);
   margin-top: 5px;
   margin-left: 10px;
}
.textoDescriptivoNos{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: rgb(26, 25, 25);
   margin-bottom: 5px;
   margin-left: 10px;  
}
/*Secciones BoxBebidas y BoxDulces*/
.fotoModelos{
   display: block;
   margin: auto;
}
.tituloModelos{
   font-family: 'Lato', sans-serif;
   font-size: 25px;
   font-weight: 700;
   color: rgb(26, 25, 25);
}
.detalleModelos{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: rgb(26, 25, 25);
}
.subtituloModelos{
   font-family: 'Lato', sans-serif;
   font-weight: 700;
   color: rgb(26, 25, 25);
}
.descripcionModelos{
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   color: rgb(26, 25, 25);
}
.button2{
   border-radius: 5px;
   border: 0ch;
   font-family: 'Lato', sans-serif;
   padding: 4px;
   margin: 3px;
   width: auto;
   cursor: pointer;
   background:linear-gradient(to right, rgba(99, 93, 190, 0.733), rgb(168, 182, 201));
   transition: all 0.2s;
   color: black;
}
.button2:hover{
   transform: scale(1.1);
}
/*Sección envíos*/
.mapa{
   display: block;
   margin: auto;
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius: 20px;
}
.margenBoton{
   margin-left: 15px;
}
.figCaption{
   text-align: center;
   margin-bottom: 15px;
}
/*Sección contacto*/
.buttonC{
   border-radius: 5px;
   border: 0ch;
   font-family: 'Lato', sans-serif;
   padding: 4px;
   margin: 3px;
   width: auto;
   cursor: pointer;
   background-color: rgb(168, 182, 201);
   transition: all 0.2s;
   color: black;
}
.buttonC:hover{
   transform: scale(1.1);
   background:rgba(99, 93, 190, 0.733); 
}
/*Inicio FOOTER*/
footer{
   background-color: white;
   padding: 25px 0 25px 0;
   display: block;
}
.textoFooter{
   font-family: 'Lato', sans-serif;
   font-size: 12px;
   font-weight: 400;
   color: rgb(26, 25, 25); 
   margin-left: 10px;   
}
/*----------------------------------------
                  GRIDS
----------------------------------------*/
/*GRID index*/
/*Definicion de áreas*/
main {
   grid-area: main;
}
div#banner{
   grid-area: banner;
}
section#bCategorias{
   grid-area: bCategorias;
}
section#bDulces{
   grid-area: bDulces;
}
section#bBebidas{
   grid-area: bBebidas;
}
footer{
   grid-area: footer;
}
/*Grilla*/
#body{
   display: grid;
   grid-template-areas:
   "main"
   "footer";
   grid-template-columns: 1fr;
   align-items: center;
}
#main{
   display: grid;
   grid-template-areas:
   "banner"
   "bCategorias"
   "bDulces"
   "bBebidas";
   align-items: center;
}  
.boxCategorias{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
/*GRID NOSOTROS*/
/*Definicion de áreas*/
main#mainNosotros{
   grid-area: mainNosotros;
}
/*Grilla*/
#bodyNosotros{
   display: grid;
   grid-template-areas:
   "mainNosotros"
   "footer"; 
   grid-template-columns: 1fr;
   align-items: center;
}
/*GRID BOXDULCES*/
/*Definicion de áreas*/
main#mainDulces{
   grid-area: mainDulces;
}
section#dulce1{
   grid-area: dulce1;
}
section#dulce2{
   grid-area: dulce2;
}
section#dulce3{
   grid-area: dulce3;
}
section#dulce4{
   grid-area: dulce4;
}
/*Grilla*/
#bodyDulces{
   display: grid;
   grid-template-areas:
   "mainDulces"
   "footer"; 
   grid-template-columns: 1fr;
   align-items: center;
}
#mainDulces{
   display: grid;
   grid-template-areas:
   "dulce1"
   "dulce2"
   "dulce3"
   "dulce4";
   grid-template-columns: 1fr;
   align-items: center;
}
.formatoModelos{
   display: flex;
   justify-content: start;
   /*flex-wrap: wrap;*/
   gap: 10px;
   margin: 15px 0px 5px 15px;

}
.encabezado{
   display: flex;
   flex-direction: column;
   /*align-items: center;*/
   flex-wrap: wrap;

}
/*GRID BEBIDAS*/
/*Definicion de áreas*/
main#mainBebidas{
   grid-area: mainBebidas;
}
section#bebida1{
   grid-area: bebida1;
}
section#bebida2{
   grid-area: bebida2;
}
section#bebida3{
   grid-area: bebida3;
}
section#bebida4{
   grid-area: bebida4;
}
/*Grilla*/
#bodyBebidas{
   display: grid;
   grid-template-areas:
   "mainBebidas"
   "footer"; 
   grid-template-columns: 1fr;
   align-items: center;
}
#mainBebidas{
   display: grid;
   grid-template-areas:
   "bebida1"
   "bebida2"
   "bebida3"
   "bebida4";
   grid-template-columns: 1fr;
   align-items: center;
}
/*GRID ENVIOS*/
/*Definicion de áreas*/
main#mainEnvios{
   grid-area: mainEnvios;
}
/*Grilla*/
#bodyEnvios{
   display: grid;
   grid-template-areas:
   "mainEnvios"
   "footer"; 
   grid-template-columns: 1fr;
   align-items: center;
}
/*GRID Contacto*/
/*Definicion de áreas*/
main#mainContacto{
   grid-area: mainContacto;
}
/*Grilla*/
#bodyContacto{
   display: grid;
   grid-template-areas:
   "mainContacto"
   "footer"; 
   grid-template-columns: 1fr;
   align-items: center;
}
/*----------------------------------------
               MEDIA QUERY
----------------------------------------*/
/*Smartphone*/
@media(max-width:480px){
   /*Inicio HEADER*/
   a{
      font-size: 16px;
      padding: 3px;
      margin-left: 0px;
      margin-right: 0px;
   }
   .logo{
      width: 50px;
      height: 50px;
   }
   /*inicio MAIN*/
   main{
      min-height: calc(100vh - 160px);
      margin-top: 90px;
   }
   /*Banne Principal / Hero */
   .bannerPrincipal{
      height: 200px;
   }
   .textoBanner{
      top: 140px;
      margin-left: 5px;
      font-size: 16px;
   }
   /*Categorias página principal*/
   .textoCategorias{
      font-size: 18px;
   }
   .fotoCategorias{
      width: 150px;
      height: 150px;
      border-radius: 10px;
   }
   .button{
       font-size: 12px;
   }
   .textoTituloCategoria{
      font-size: 16px;
   }
   .textoDescriptivo{
      font-size: 16px;
      width: 150px;  
   }
   /*Sección Nosotros-contacto*/
   .textoSubtitulos{
      font-size: 18px;
   }
   .textoDescriptivoNos{
      font-size: 16px;  
}
   /*Secciones BoxBebidas y BoxDulces*/
   .fotoModelos{
      width: 150px;
      height: 150px;
      border-radius: 10px;
   }
   .tituloModelos{
      font-size: 18px;
   }
   .detalleModelos{
      font-size: 16px;
   }
   .subtituloModelos{
      font-size: 16px;
   }
   .descripcionModelos{
      font-size: 16px;
   }
   .button2{
      font-size: 12px;
   }
   /*Sección envíos*/
   .mapa{
      width: 200px;
      height: 200px;
   }
   /*Sección contacto*/
   .buttonC{
      font-size: 12px;
   }
}
/*Tablet*/
@media(min-width:481px){
  /*Inicio HEADER*/
  a{
      font-size: 18px;
      padding: 3px;
      margin-left: 0px;
      margin-right: 0px;
}
   .logo{
      width: 65px;
      height: 65px;
   }
   /*inicio MAIN*/
   main{
      min-height: calc(100vh - 180px);
      margin-top: 110px;
   }
   /*Banner Principal / Hero */
   .bannerPrincipal{
      height: 300px;
   }
   .textoBanner{
      top: 230px;
      margin-left: 5px;
      font-size: 18px;
   }
   /*Categorias página principal*/
   .textoCategorias{
      font-size: 20px;
   }
   .fotoCategorias{
      width: 225px;
      height: 225px;
      border-radius: 5px;
   }
   .button{
      font-size: 14px;
   }
   .textoTituloCategoria{
      font-size: 18px;
   }
   .textoDescriptivo{
      font-size: 18px;
      width: 225px;  
   }
   /*Sección Nosotros-contacto*/
   .textoSubtitulos{
      font-size: 20px;
   }
   .textoDescriptivoNos{
      font-size: 18px;  
   }
   /*Secciones BoxBebidas y BoxDulces*/
   .fotoModelos{
      width: 225px;
      height: 225px;
      border-radius: 15px;
   }
   .tituloModelos{
      font-size: 20px;
   }
   .detalleModelos{
      font-size: 18px;
   }
   .subtituloModelos{
      font-size: 18px;
   }
   .descripcionModelos{
      font-size: 18px;
   }
   .button2{
      font-size: 14px;
   }
   /*Sección envíos*/
   .mapa{
      width: 300px;
      height: 300px;
   }
   /*Sección contacto*/
   .buttonC{
      font-size: 14px;
   }
}
/*Desktop*/
@media(min-width:781px){
   /*Inicio HEADER*/
   a{
      font-size: 20px;
      padding: 15px;
      margin-left: 10px;
      margin-right: 10px;
   }
   .logo{
      width: 75px;
      height: 75px;
   }
   /*inicio MAIN*/
   main{
      min-height: calc(100vh - 205px);
      margin-top: 140px;
   }
   /*Banne Principal / Hero */
   .bannerPrincipal{
      height: 400px;
   }
   .textoBanner{
      top: 280px;
      margin-left: 15px;
      font-size: 30px;
   }
   /*Categorias página principal*/
   .textoCategorias{
      font-size: 25px;
   }
   .fotoCategorias{
      width: 300px;
      height: 300px;
      border-radius: 15px;
   }
   .button{
      font-size: 16px;
   }
   .textoTituloCategoria{
      font-size: 20px;
   }
   .textoDescriptivo{
      font-size: 20px;
      width: 300px;  
   }
   /*Sección Nosotros-contacto*/
   .textoSubtitulos{
      font-size: 22px;
   }
   .textoDescriptivoNos{
      font-size: 20px; 
   }
   /*Secciones BoxBebidas y BoxDulces*/
   .fotoModelos{
      width: 300px;
      height: 300px;
      border-radius: 20px;
   }
   .tituloModelos{
      font-size: 22px;
   }
   .detalleModelos{
      font-size: 20px;
   }
   .subtituloModelos{
      font-size: 20px;
   }
   .descripcionModelos{
      font-size: 20px;
   }
   .button2{
      font-size: 16px;
   }
   /*Sección envíos*/
   .mapa{
      width: 400px;
      height: 400px;
   }
   /*Sección contacto*/
   .buttonC{
      font-size: 16px;
   }
}
